body {
	-webkit-user-select: none; /* Untuk peramban berbasis WebKit (misalnya Chrome dan Safari) */
	-moz-user-select: none; /* Untuk peramban berbasis Gecko (misalnya Firefox) */
	-ms-user-select: none; /* Untuk peramban berbasis Microsoft (misalnya Edge) */
	user-select: none; /* Standar CSS */
}

.jumbotron{
	margin-top: 30px;
	background-color: #A084E8;
	padding: 3rem 1rem 1rem 0px;
}

section a{
	color: inherit;
	text-decoration: none;
}
section a:hover{
	font-weight: bold;
}
hr{
/* 	width: 200px; */
/* 	width: calc(100% * 8 / 12); */
}

section{
	min-height: 100px;
}
section#projek{
	background-color: #d5ffe4;
}